html 
{ 
	height:100%; 
} 


body 
{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	font-size: 14px;
	height: 100%;
	background-color: #000;
}

#wrapper
{
	position: relative;
	margin: left;
}


#header
{
	height: 40px;
	position: relative;
	margin-bottom: 40px;
}

#header h1
{
	margin: 20px 20px;
	color: white;
}

#authentification
{
	position: relative;
	float: right;
	margin: 0px 20px;
}

#authentification #login
{
	border: 0px;
	width: 100px;
	height: 18px;
	position: relative;
}

#authentification #login :hover
{
	border: 0px;
	background: blue;
	width: 100px;
	height: 18px;
	position: relative;
}

#authentification #logout
{
	border: 0px;
	width: 100px;
	height: 18px;
	position: relative;
}

#authentification #username
{
	height: 12px;
	margin: 0px 10px;
}

#box
{
	width: 300px;
	height: 500px;
	float: left;
	position: relative;
	margin: 0px 8px 10px 8px;

}
#box_cont
{

	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;

}

#box_title
{
	padding: 10px 10px;
	font-weight: bold;
	font-size: 16px;
	height: 16px;
	background-color: white;
	opacity: 0.5;
}

#box_bottom, #createChatMessage, #createMatch, #status_bottom
{
	position: relative;
	width: 300px;
	min-height: 100px;
	text-align: center; 
	font-size: 20px; 
	background-color: rgb(21, 95, 64);
	opacity: 0.8;	
}

#createChatMessage
{
	background-color: rgb(21, 68, 82);
}

#createMatch
{
	background-color: rgb(144, 71, 44);
}

#matchGameID, #matchGameName, #matchCreateSubmit
{
	position: relative;
	float: left;
	margin: 10px 0px 0px 20px;
}

#matchMaximumPlayer, #matchStreamGame
{
	position: relative;
	float: left;
	margin: 10px 0px 0px 10px;
}

#matchMaximumPlayer
{
	width: 16px;
}

label
{
	font-size: 12px;
	float: left;
	position: relative;
	margin: 10px 0px 0px 20px;
}

#matchCreateSubmit, #chatMessageSubmit
{
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#status_bottom
{
	background-color: rgb(146, 139, 21);
}

#chatMessageInput
{
	height: 70px; 
	width: 220px; 
	float: left;
	position: relative;
	margin: 10px 10px 10px 10px;
	resize: none;
}

.openMatch, .runningMatch, .chatMessage
{
	margin: 10px 10px 0px 10px;
	position: relative;
}

.player
{
	margin: 10px 10px 1px 10px;
	position: relative;
	border-bottom: 2px dashed #fff;
	padding-bottom: 10px;
	font-weight: bold;
}

.location
{
	font-weight: normal;
}

.chatMessageUser
{
	font-weight: bold;
	position: relative;
	float: left;
}

.chatMessageValue
{
	position: relative;
	float: left;
	margin: 0px 10px;
}

#box ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}


#box ul li
{
	border-bottom: 2px dashed #fff;
	margin-bottom: 15px;
	padding-bottom: 10px;
}


#box ul li #chatMessage
{
	border-bottom: none;
}
.joinMatchSubmit, .inspectGameSubmit
{
	background-color: #fff;
	width: 60px;
	height: 34px;
	margin: -40px 10px;
	float: right;
	text-align: center;
	opacity: 0.5;
}

.joinMatchSubmit:ACTIVE, .inspectGameSubmit:ACTIVE
{
	background-color: #aaa;
	opacity: 0.5;
}

#login, #logout
{
	background-color: #ccc;
}

#login:ACTIVE, #logout:ACTIVE
{
	background-color: #aaa;
}

.closeInspectMatchSubmit
{
	position: relative;
	float: left;
	margin: 10px 10px;
}

.closeInspectMatchWindowSubmit
{
	position: relative;
	float: right;
	margin: 10px 10px;
}

.inspectionInput
{
	position: relative;
	float: left;
	margin: 0px 10px;
	padding: 0px 10px 0px 10px;
	opacity: 0.8;
}

.createInspectionSubmit
{
	float: left;
	position: relative;
}

.currentMove
{
	float: left;
	position: relative;
	margin: 20px 40px;
}

#ballCanvas
{
	position: relative;
	float: left;
	margin: 20px 24px;
}

#resetArea
{
	position: absolute;
	right: 10px;
	bottom: 10px;
}